<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/contact.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<div class="container">
    <div class="logo-container">
        <img class="logo" src="../static/img/fin.svg" alt="Logo">
    </div>
    </div>
    <div class="word">
        <h2> Contact US</h2>
        <h3>
            The Investigator project's "Contact Us" page serves as a direct communication bridge between users and the project's team, providing a convenient platform to interact, inquire, and engage.
        </h3>
    </div>
    <div class="icon-container">
        <div class="icon">
            <img class="flat-icon" src="../static/img/352521_location_on_icon.svg" alt="Logo">
        </div>
    </div>
    <nav class="navbar">
        <div class="container">  
            <img src="../static/img/logo_one.svg" alt="Logo" class="navbar-logo">
          <ul class="navbar-nav">
            <li class="nav-item"><a style="color: grey;"  href="{{ url_for('home') }}" class="nav-link">Home</a></li>
            <li class="nav-item"><a style="color: grey;"  href="{{ url_for('about') }}" class="nav-link">About</a></li>
            <li class="nav-item"><a style="color: grey;"  href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
          </ul>
      
        </div>
      </nav>  
      <div class="icon-container">
        <div class="icon">
            <div class="icon-item">
                <img width="40px" class="flat-icon" src="../static/img/352521_location_on_icon.svg" alt="Location">
                <span class="icon-text">123 Street, City, Country</span>
            </div>
            <div class="icon-item">
                <img width="40px" class="flat-icon" src="../static/img/1564504_email_letter_mail_message_icon.svg" alt="Email">
                <span class="icon-text">example@email.com</span>
            </div>
            <div class="icon-item">
                <img width="40px" class="flat-icon" src="../static/img/211830_telephone_icon.svg" alt="Telephone">
                <span class="icon-text">123-456-7890</span>
            </div>
        </div>
    </div>
    
      
<body>
</body>
</html>